@use 'vars' as *;

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 932px;
    background-image: image-set(
        url(../img/about_bg.jpeg) type('image/jpeg') 1x,
        url(../img/about_bg.webp) type('image/webp') 1x
    );
    background-image: -webkit-image-set(url(../img/about_bg.jpeg) 1x, url(../img/about_bg.webp) 1x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include laptop {
        height: 700px;
    }
    @include mobile {
        height: auto;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-inline: 20px;
    }

    &__content {
        background-color: #eff1ec;
        border-radius: 42px;
        padding-top: 58px;
        padding-left: 44px;
        padding-right: 44px;
        padding-bottom: 107px;
        max-width: 506px;
        position: relative;
        @include laptop {
            padding-top: 44px;
            padding-right: 37px;
            padding-left: 28px;
            padding-bottom: 76px;
            border-radius: 32px;

            max-width: 380px;
        }
        @include tablet {
            padding-top: 32px;
            padding-bottom: 76px;
            padding-left: 14px;
            padding-right: 14px;
            max-width: 335px;
        }
        @include mobile {
            padding-bottom: 14px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 21px;
        line-height: 125%;
        @include laptop {
            font-size: 24px;
            margin-bottom: 15px;
        }
        @include tablet {
            font-size: 20px;
            text-align: center;
        }
        @include mobile {
            margin-bottom: 23px;
        }
    }
    &__text {
        font-size: 24px;
        color: #436870;
        line-height: 125%;
        text-align: center;
        @include laptop {
            font-size: 18px;
        }
        @include tablet {
            font-size: 16px;
        }
        @include mobile {
            margin-bottom: 24px;
        }
    }
    &__sticker {
        position: absolute;
        top: -16px;
        left: -13px;
        @include mobile {
            right: 0;
            top: -18px;
            left: auto;
        }
        & > svg {
            width: 42px;
            height: 42px;
            @include laptop {
                width: 32px;
                height: 32px;
            }
            @include mobile {
                width: 19px;
                height: 19px;
            }
        }
    }
    &__action-element {
        padding-inline: 36px;

        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        padding-inline: 48px;
        @include laptop {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-inline: 30px;
        }
        @include mobile {
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
            justify-self: center;
            max-width: none;
            justify-content: center;
        }
        span {
            @include laptop {
                font-size: 20px;
                font-weight: 700;
            }
            @include mobile {
                font-size: 14px;
            }
        }
    }
}
