@use 'vars' as *;
.advantages {
    padding-top: 120px;

    background-color: #fcfeff;
    &__header {
        background-color: #dbf3fd;

        border-top-left-radius: 750px;
        border-top-right-radius: 750px;

        position: relative;
        z-index: 0;

        & > .container {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(12, 64px);
            grid-template-rows: 172px 115px auto 68px auto 195px;

            justify-content: space-between;
        }
    }
    &__title {
        font-size: 46px;
        font-weight: 700;
        max-width: 377px;
        grid-column: 2/6;
        grid-row: 3/4;
    }
    &__main-image {
        object-fit: cover;
        grid-column: 1/13;
        justify-self: center;
        width: 813px;
        height: 831px;
        grid-row: 2/7;
        align-self: flex-end;
    }
    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        &_structures {
            grid-column: 1/4;
            grid-row: 5/6;
            margin-left: 42px;
        }
        &_engineering {
            grid-column: 11/13;
            grid-row: 5/6;
            margin-top: 31px;
        }
        &_windows {
            grid-column: 10/13;
            grid-row: 3/4;
            .advantage__header {
                padding-right: 0;
            }
            .advantage__text {
                max-width: 165px;
            }
        }
    }
    &__eye-icon {
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $round-full;
        background-color: #fff;
        cursor: pointer;
        & > svg {
            width: 48px;
            height: 48px;
            color: #8dc9e4;
        }
    }
    &__container {
        :nth-child(1 of .advantages__eye-icon) {
            grid-row: 5 / 6;
            grid-column: 3 / 5;
            justify-self: end;
            margin-right: 12px;
            margin-top: 16px;
        }
        :nth-child(2 of .advantages__eye-icon) {
            grid-row: 3/4;
            grid-column: 5/7;
            justify-self: end;
            align-self: flex-end;
        }
        :nth-child(3 of .advantages__eye-icon) {
            grid-row: 5/6;
            grid-column: 7/8;
            margin-top: 59px;
            margin-left: 30px;
        }
        :nth-child(4 of .advantages__eye-icon) {
            grid-row: 6 / 7;
            grid-column: 4 / 7;
            justify-self: center;
        }
    }
    &__list {
        row-gap: 40px;
        display: flex;
        flex-direction: column;
        &_variant {
            transform: translateY(-21px);
            &_translate {
                transform: translateY(150px);
            }
        }
    }
    &__body {
        background-color: #dbf3fd;

        & > .container {
            display: grid;
            padding-bottom: 242px;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 38px;
        }
    }
    &__footer {
        background-color: #dbf3fd;

        & > .container {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(12, 64px);
        }
    }
    &__footer-image {
        height: 482px;
        grid-column: 1/13;

        position: relative;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            mask-image: url(../img/mask3.png);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: cover;
            z-index: 4;
        }
    }
    &__footer-info {
        max-width: 344px;
        position: relative;
        height: max-content;
        grid-column: 8 / 13;
        & > p {
            font-size: 20px;
            color: #337785;
        }
    }
    &__sticker {
        position: absolute;
        left: -51px;
        top: -51px;
        & > svg {
            width: 32px;
            height: 32px;
        }
    }
}
.advantage {
    max-width: max-content;
    &__header {
        padding-right: 15px;

        & > img {
            width: 126px;
            height: 126px;
        }
    }
    &__body {
    }
    &__text {
        font-size: 20px;
        &_short {
            max-width: 141px;
        }
    }
}
.advantage-card {
    border-radius: $round-l;
    background-color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 380px;
    &__header {
        border-radius: $round-l;
        overflow: hidden;
        border: 1px solid #fdfeff;
        height: 245px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__body {
        padding-top: 16px;
        padding-bottom: 17px;
        padding-left: 24px;
        padding-right: 24px;
    }
    &__text {
        font-size: 24px;
        & > span {
            font-weight: 700;
        }
    }
}
