@use 'vars' as *;
.logo-link {
    display: block;
    &__image {
        width: 216px;
        height: 83px;
        display: block;
        max-width: none;
        @include laptop {
            width: 200px;
            height: 77px;
        }
        @include tablet {
            width: 210px;
            height: 81px;
        }
        @include mobile {
            width: 156px;
            height: 60px;
        }
    }
}
.sticker {
    width: 80px;
    height: 80px;
    border-radius: $round-full;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include laptop {
        width: 60px;
        height: 60px;
    }
    @include mobile {
        width: 36px;
        height: 36px;
    }
}
.text-gradient {
    background-image: $gradient_2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-variant {
    background-image: linear-gradient(90deg, rgba(63, 200, 138, 1) 0%, rgba(133, 221, 239, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-header {
    display: grid;
    grid-template-columns: auto 642px;
    align-items: center;
    justify-content: space-between;
    @include laptop {
        grid-template-columns: auto 482px;
    }
    @include tablet {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    @include mobile {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    &__title {
        font-size: 64px;
        font-weight: 700;

        @include laptop {
            font-size: 46px;
            line-height: 124%;
            max-width: 600px;
        }
        @include mobile {
            font-size: 24px;
            max-width: 220px;
        }
    }
    &__text {
        font-size: 24px;
        max-width: 460px;
        @include laptop {
            font-size: 20px;
            text-wrap: balance;
        }
        @include mobile {
            font-size: 16px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @include laptop {
            row-gap: 19px;
        }
        @include mobile {
            row-gap: 24px;
        }
    }
}
//FORMS
.request-form {
    max-width: 453px;
    width: 100%;
    @include laptop {
        max-width: 376px;
    }

    &__input {
        border-radius: $round-m;
        border: 1px solid #01a252;
        outline: #01a252;
        height: 72px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin-bottom: 24px;
        @include laptop {
            height: 56px;
        }
        &::placeholder {
            color: #9b9b9b;
            font-size: 16px;
            line-height: 24px;
        }
        &:first-child {
            margin-bottom: 12px;
        }
        &:last-child {
            margin-bottom: 24px;
        }
    }
    &__btn {
        max-width: none;
        width: 100%;
        justify-content: center;
        height: 63px;
        @include mobile {
            font-size: 14px;
            height: 48px;
        }
        span {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
