.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    &__overlay {
        padding: 40px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(49, 53, 52, 0.4);
        backdrop-filter: blur(2.5px);
        opacity: 0;
        transition: all 0.3s 0.2s linear;
        overflow: auto;
        &.open {
            opacity: 1;
            transition: all 0.3s linear;
        }
    }
}
.fancybox__backdrop {
    background-color: #fff;
}
