@use 'vars' as *;

.offer-block {
    background-color: $white;
    border-radius: $round-l;
    border: 4px solid #fcfeff;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: max-content;

    &__image {
        border-radius: $round-l;
        height: 176px;
    }
    &__content {
        height: 176px;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 16px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: 14px;
        color: #516f75;
        line-height: 16px;
        max-width: 172px;
    }
    &__text {
        font-size: 18px;
        font-weight: 700;
        background-image: $gradient_1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 132px;
    }
    &__link {
        display: flex;
        align-items: center;

        &:hover {
            .offer-block__icon {
                scale: 1.2;
            }
        }
    }
    &__icon {
        border-radius: $round-full;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $gradient_1;
        flex-shrink: 0;
        transition: scale 0.3s ease-in-out;
        & > .icon {
            color: $white;
            width: 13px;
            height: 21px;
        }
    }
}
