@use 'vars' as *;
.plans {
    padding-top: 111px;
    padding-bottom: 98px;
    @include laptop {
        padding-top: 57px;
        padding-bottom: 57px;
    }
    @include mobile {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    & > .container {
        display: grid;
        grid-template-columns: auto 823px;
        column-gap: 84px;
        align-items: center;
        justify-content: space-between;
        @include laptop {
            grid-template-columns: auto 693px;
            column-gap: 127px;
        }
        @include tablet {
            grid-template-columns: 1fr;
            row-gap: 52px;
        }
        // @include mobile {
        //     row-gap: 36px;
        // }
    }
    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 21px;
        margin-bottom: 43px;
        @include laptop {
            row-gap: 16px;
            margin-bottom: 32px;
        }
        @include tablet {
            max-width: 50%;
        }
        // @include mobile {
        //     margin-bottom: 0;
        //     max-width: none;
        // }
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        max-width: 50%;
        @include laptop {
            font-size: 36px;
            line-height: 41px;
            max-width: 80%;
        }
        @include mobile {
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__col:nth-child(2) {
        position: relative;
        @media screen and (max-width: 1025px) {
            max-width: 700px;
            margin: 0 auto;
        }
        // @include mobile {
        //     max-width: 320px;
        // }
    }
    &__text {
        font-size: 24px;
        line-height: 28px;
        text-wrap: pretty;
        @include laptop {
            font-size: 20px;
            line-height: 23px;
        }
        @include mobile {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__action-element {
        width: 450px;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 26px;
        padding-bottom: 26px;
        @include laptop {
            font-size: 20px;
            line-height: 23px;
            max-width: max-content;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
        }
        @include mobile {
            display: none;
        }
        &_mob {
            display: none;
            @include mobile {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 16px;
                padding-bottom: 16px;
                width: 100%;
                max-width: none;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}
.plans-list {
    position: relative;
    display: flex;

    // @include mobile {
    //     max-width: 335px;
    //     margin: 0 auto;
    //     overflow: hidden;
    // }
    @media screen and (max-width: 374px) {
    }
    &__item {
        border-radius: 83px;
        overflow: hidden;
        background-color: #fcfeff;
        padding: 57px;
        width: 100%;
        flex-shrink: 0;
        @include laptop {
            padding-bottom: 39px;
            padding-left: 48px;
            padding-top: 48px;
            padding-right: 48px;
        }
        @include mobile {
            padding-top: 23px;
            padding-left: 23px;
            padding-right: 23px;
            padding-bottom: 25px;
            border-radius: 34px;
        }
    }
    &__btn {
        width: 64px;
        height: 64px;
        border-radius: $round-full;
        background-color: #abdbf2;
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include laptop {
            width: 56px;
            height: 56px;
        }
        @include mobile {
            width: 24px;
            height: 24px;
        }

        svg {
            color: #fcfeff;
            width: 34px;
            height: 20px;
            @include laptop {
                width: 30px;
                height: 18px;
            }
            @include mobile {
                width: 13px;
                height: 7px;
            }
        }

        &_left {
            left: -32px;
            transform: translateY(-50%) rotate(90deg);
            @include laptop {
                left: -28px;
            }
            @include mobile {
                left: -6px;
            }
        }
        &_right {
            right: 0;
            transform: translateY(-50%) translateX(32px) rotate(-90deg);
            @include laptop {
                transform: translateY(-50%) translateX(28px) rotate(-90deg);
            }
            @include mobile {
                right: 0px;
                transform: translateY(-50%) translateX(6px) rotate(-90deg);
            }
        }
    }
}
.plan-card {
    display: grid;
    // grid-template-columns: max-content auto max-content;
    flex-shrink: 0;
    @include mobile {
        grid-template-columns: 75px auto 67px;
    }
    @media (max-width: 374px) {
        grid-template-columns: 100%;
        row-gap: 10px;
        padding: 10px;
    }
    &__price,
    &__details {
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        @include laptop {
            row-gap: 24px;
        }
        @include tablet {
            row-gap: 11px;
            z-index: 1;
        }
    }
    &__price {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: self-start;
        @media screen and (max-width: 374px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    &__details {
        grid-column: 2/4;
        grid-row: 1/3;
        align-self: flex-end;
        justify-self: end;
        z-index: 2;
        @include tablet {
            grid-column: 3/4;
        }
        @media screen and (max-width: 374px) {
            grid-column: 1/2;
            grid-row: 3/4;
            justify-self: self-start;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 21px;
        @include laptop {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__value {
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        @include laptop {
            font-size: 26px;
            line-height: 30px;
        }
        @include tablet {
            font-size: 16px;
            line-height: 18px;
        }
        sup {
            font-size: 18px;
            top: -0.8em;
            @include laptop {
                font-size: 14px;
            }
        }
    }
    &__info-group {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
    }
    &__details-link {
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: flex-end;
        @include laptop {
            font-size: 26px;
            line-height: 30px;
        }
        @include tablet {
            font-size: 16px;
            line-height: 18px;
            z-index: 1;
            grid-column: 1/3;
        }
        @media screen and (max-width: 374px) {
            grid-column: 1/2;
            grid-row: 4/5;
        }
    }
    &__image {
        width: 445px;
        height: 458px;
        grid-column: 2/4;
        grid-row: 1/3;
        justify-self: center;
        z-index: 1;
        margin-top: -57px;
        margin-bottom: -57px;
        @include laptop {
            width: 378px;
            height: 384px;
            margin-top: -48px;
            margin-bottom: -39px;
        }
        @include mobile {
            width: 161px;
            height: 166px;
            margin-top: -16px;
            margin-bottom: -12px;
            grid-column: 1/4;
            z-index: 0;
        }
        @media (max-width: 374px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        // @media screen and (max-width: 350px) {
        //     grid-column: 1/3;
        //     grid-row: 1/4;
        //     justify-self: end;
        //     align-self: center;
        // }
    }
}
