@use 'vars' as *;
@use './slider';
.rooms-review {
    padding-top: 106px;
    padding-bottom: 115px;
    background-color: #fcfeff;
    overflow: hidden;
    @include laptop {
        padding-top: 80px;
        padding-bottom: 56px;
    }
    @include tablet {
        padding-top: 56px;
        padding-bottom: 96px;
    }
    &__header {
        margin-bottom: 72px;
        @include laptop {
            margin-bottom: 54px;
        }
        @include tablet {
            margin-bottom: 56px;
        }
    }
    &__title {
        text-wrap: balance;
    }
    &__action-element {
        font-size: 24px;
        padding: 26px 93px;
        @include laptop {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-inline: 30px;
            font-size: 20px;
        }
        @include mobile {
            font-size: 14px;
            padding-top: 16px;
            padding-bottom: 16px;
            width: 100%;
            max-width: none;
            justify-content: center;
        }
    }
}
.rooms-list {
    display: flex;

    align-items: center;
    overflow: visible;
    margin-bottom: 42px;
    @include laptop {
        margin-bottom: 32px;
    }

    &__item {
        flex-shrink: 0;
        height: inherit;
        border-radius: 24px;
        overflow: visible;

        @include laptop {
            // width: 800px;
            height: 600px;
        }
        @include tablet {
            // width: 600px;
            height: inherit;
        }
        @include mobile {
            // width: 335px;
            height: inherit;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
        }
    }
    &.swiper-wrapper {
        margin-left: -15%;
        @include tablet {
            margin-left: -30%;
        }
    }
}
.room {
    position: relative;

    &__sticker {
        position: absolute;
        background-color: #d5effa;
        border-radius: 16px;
        padding: 32px;
        left: -25%;
        right: -25%;
        bottom: 90px;
        min-width: 310px;
        transition: $transition;
        opacity: 0;
        cursor: auto;
        pointer-events: none;
        @include laptop {
            padding: 24px;
            max-width: 232px;
            bottom: -14px;
            min-width: 232px;
        }
        @include tablet {
            padding: 16px;
            display: none;
        }
    }
    &__resize-btn {
        display: none;
        position: absolute;
        bottom: 16px;
        right: 16px;
        transition: $transition;
        &:hover {
            background-color: rgba(171, 219, 242, 1);
            svg {
                color: $white;
            }
        }
        svg {
            color: #436870;
            transition: $transition;
        }
        @include mobile {
            display: flex;
            position: absolute;
            bottom: 16px;
            right: 16px;
        }
    }
    &__desc {
        color: #516f75;
        text-wrap: balance;
        text-align: center;
        @include laptop {
            font-size: 18px;
        }
        @include tablet {
            font-size: 16px;
        }
    }
    &__img {
        object-fit: cover;
    }
}

.slider-wrapper {
    display: none;
    position: relative;
    &_active {
        display: block;
    }
}
.rooms-swiper-outer {
    position: relative;
}
.mobile-sticker {
    display: none;
    & ~ .slider-points__point-active {
        opacity: 0;
    }
    @include tablet {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 47px;
        background-color: #d5effa;
        border-radius: 16px;
        padding: 16px;
        max-width: max-content;
        min-width: 195px;
        transition: $transition;
        opacity: 1;
        display: block;
        &__desc {
            font-size: 16px;
            text-align: center;
        }
    }
}
.rooms-swiper-outer > .swiper-wrapper {
    display: flex;
    margin-bottom: 36px;
    @include laptop {
        margin-bottom: 24px;
    }
}
.rooms-swiper-inner > .swiper-wrapper {
    display: flex;
}
.outer-slide,
.inner-slide {
    flex-shrink: 0;
    overflow: hidden;
}
.inner-slide {
    height: 700px;
    max-width: 960px;
    width: 100%;
    flex-grow: 1;
    @include laptop {
        height: 600px;
        max-width: 800px;
    }
    @media screen and (max-width: 1260px) {
        height: 400px;
        max-width: 520px;
    }
    @include mobile {
        height: 252px;
        max-width: 335px;
    }
    @media screen and (max-width: 760px) {
        height: 252px;
    }
}
.active-bullet-main {
    background-color: rgba(219, 243, 253, 1);
    border: 1px solid transparent;
    button {
        border: 1px solid transparent;
    }
}
.slider-points__point {
    background-color: transparent;
    padding: 13.5px 32px;

    flex-shrink: 0;
    border-radius: 27px;
    border: 1px solid rgba(81, 111, 117, 1);
    font-size: 22px;
    color: rgba(81, 111, 117, 1);
    transition: $transition;
    position: relative;
    cursor: pointer;
    @include laptop {
        font-size: 18px;
        padding: 10px 24px;
        border-radius: 20px;
    }
    @include tablet {
        font-size: 14px;
        padding: 8px 16px;
    }
    &-active {
        background-color: rgba(219, 243, 253, 1);
        border: 1px solid transparent;
        div {
            opacity: 1;
        }
    }
}
.slider-points {
    display: flex;
    column-gap: 10px;
    max-width: max-content;
    margin: 0 auto;

    &::-webkit-scrollbar {
        display: none;
    }
    @include laptop {
        column-gap: 8px;
    }
    @include mobile {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: visible;
        scrollbar-width: thin;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        overflow-x: auto;
    }
}
.rooms-pagination {
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 40px;
        @include laptop {
            justify-content: center;
            column-gap: 8px;
            margin-bottom: 34px;
        }
        @include tablet {
            justify-content: unset;
            column-gap: 0;
            margin-bottom: 24px;
        }
    }
    &__item {
        padding: 13px 32px;
        border-radius: 27px;
        border: 1px solid rgba(81, 111, 117, 1);
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
        transition: $transition;
        @include laptop {
            padding: 10px 24px;
        }
        @include tablet {
            padding: 8px 16px;
        }
        &-active {
            background-color: rgba(219, 243, 253, 1);
            border: 1px solid transparent;
            transition: $transition;
        }
    }
    &__item-text {
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        @include laptop {
            font-size: 18px;
        }
        @include tablet {
            font-size: 14px;
        }
    }
}
.current-room-info {
    &__text {
        font-weight: 700;
        font-size: 48px;
        text-wrap: balance;
        max-width: 45%;
        @include laptop {
            font-size: 36px;
        }
        @include tablet {
            font-size: 24px;
        }
        @include mobile {
            max-width: none;
        }
    }
}
