@use 'vars' as *;

.plans-swiper {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    max-width: 1500px;
    @include tablet {
        max-width: 932px;
    }
    @media screen and (max-width: 1025px) {
        max-width: 700px;
    }
    @include mobile {
        max-width: 335px;
        overflow: hidden;
    }
    @media screen and (max-width: 374px) {
        max-width: 250px;
    }
}
.bullets {
    position: relative;
    bottom: 0 !important;
    display: flex;
    align-items: center;
}
.swiper-pagination-bullet {
    flex-shrink: 0;
}
.house-details-section .swiper-pagination-bullets-dynamic {
    display: none;
    @include mobile {
        display: block;
    }
}
.swiper-pagination-bullet-active {
    width: 13px !important;
    height: 13px !important;
    @include laptop {
        width: 10px !important;
        height: 10px !important;
    }
}
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-prev-prev {
    width: 6.6px !important;
    height: 6.6px !important;
    transform: scale(1) !important;
    @include laptop {
        width: 5px !important;
        height: 5px !important;
    }
}
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev {
    width: 10px !important;
    height: 10px !important;
    transform: scale(1) !important;
    @include laptop {
        width: 7.5px !important;
        height: 7.5px !important;
    }
}
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
    opacity: 1 !important;
    transform: scale(1) !important;
}
.swiper-pagination-bullet {
    background-color: #abdbf2 !important;
    opacity: 1 !important;
    // margin: 0 !important;
}
.clickable-pagination {
    width: 100% !important;
    transform: translate(0) !important;
}
.bullets {
    position: relative;
    display: flex;
    align-items: center;
}
.active-cusom-bullet-main {
    width: 10px;
    height: 10px;
}
